body{
    background-color: #0D3B6C !important;
}
.secret{
    background: #071A37;
    margin:10px;
    color: white;
    border-radius: 3px;
}
.secret-title{
    height: 70px;
    padding: 15px;
}
.secret-title img{
    
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.secret-user{
    padding-left: 50px;
}

.secret-title .date{
    color: darkgrey;
}

.secret-title .name{
    margin-bottom: 1px;
}

.secret-content{
    padding: 15px 15px 15px 65px;
    background-color: #041124;
}

.secret-footer{
    border-top: 1px solid #122642;
}

.secret-footer .secret-action{
    cursor:pointer;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #162e4f;
    color: #57729A;
}


.secret-footer .secret-action a{
    text-decoration: none;
    color: #57729A;
}
.secret-footer .secret-action a:hover{
    text-decoration: none;
    color: #0F63DE;
}

.secret-footer .secret-action a:hover i{
    color: #eb7350;
}

.secret-footer .col-sm-4:last-child .secret-action{
    border-right: none;
}

.section-comment{
    padding: 15px 15px 15px 65px;
    background-color: #041124;
}

.section-comment img{
    width: 30px;
    height: 30px;
    border-radius:2px;
    position: absolute;
    margin-left:-45px;
}

.section-comment-item p span{
    color: royalblue;
}

.section-comment-post{
    padding-bottom: 20px;
}

.section-comment-post textarea{
    display: block;
    width: 100%;
    border:1px solid #163156;
    outline: none;
    resize:inherit;
    height: 30px;
    color:white;
    background-color: #071A37;
}

.section-comment-post textarea:focus{
    border: 1px solid #fa7d3c;
}

.section-comment-post .section-comment-submit{
    display: block;
    text-align: right;
    margin-top: 10px;
}

.section-comment-submit button{
    background-color:#fa7d30;
    border: 1px solid #fbbd9e;
    border-radius: 2px;
}

