<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<style>
    body {
        background: url('views/images/background2.jpg') center center fixed;
        background-size:cover;
    }
    
    .form-signin {
        max-width: 400px;
        padding: 15px;
        margin: 40px auto;
        text-align: center;
    }
    
    .form-signin,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin input{
        outline:none;
    }
    
    .form-signin-heading {
        margin-bottom: 30px;
        text-align: center;
        color: white;
        font-family: sans-serif;
    }
    
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        color: #fff;
        max-width: 400px;
        background-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #3e3e3e;
        border-left-width: 0px;
        border-left-style: none;
        border-right-width: 0px;
        border-right-style: none;
        border-top-width: 0px;
        border-top-style: none;
        font-family: sans-serif;
        box-sizing: border-box;
        cursor: auto;
        display: inline-block;
        height: 44px;
        overflow-x: visible;
        overflow-y: visible;
    }
    
    .form-control:focus {
        border-bottom-color: #fff;
        border-left-width: 0px;
        border-left-style: none;
        border-right-width: 0px;
        border-right-style: none;
        border-top-width: 0px;
        border-top-style: none;
        box-shadow: none;
    }
    
    .form-signin .form-control:focus {
        z-index: 2;
    }
    
    .form-signin input[type="email"] {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .btn-signup {
        width: auto;
        opacity: 100%;
        display: inline-block;
        padding: 10px 50px;
        margin: 0 10px;
        background: transparent;
        border: 1px solid #3e3e3e;
        color: #fff;
        text-transform: uppercase;
        outline: none;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        line-height: 22px;
        letter-spacing: .1em;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
    }
    
    .btn-signup:hover {
        border: 1px solid white;
        color: white;
        text-decoration: none;
    }
    
    .btn-login {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 5px;
        background: #e4e4e4;
        border: 1px solid;
        color: #1c1c1c;
        text-transform: uppercase;
        outline: none;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        line-height: 22px;
        letter-spacing: .1em;
        text-align: center;
        border-radius: 4px;
        -webkit-font-smoothing: antialiased;
        border: 0px;
        margin-top: 20px;
    }
    
    .btn-login:hover {
        background: #D8D8D8;
    }
    
    #checkStay #checkStay[span] {
        display: block;
        text-indent: 1px;
        padding-left: 15px;
    }
    
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        overflow: hidden;
        top: -1px;
        position: relative;
        margin-left: -55%;
    }
    
    .passwordRecovery {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -11px;
        margin-right: 1px;
        font-size: 12px;
        color: #797979;
        font-family: sans-serif;
        word-spacing: normal;
    }
    
    .passwordRecovery:hover {
        color: #fff;
    }
    
    .input-wrapper {
        background: transparent;
        color: #a1a1a1;
        display: block;
        line-height: 22px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 25px;
        font-size: 12px;
        position: relative;
    }
    #checkStay:hover{
        color:#D8D8D8;
    }
</style>

<body>
    <div>
        <form class="form-signin">
            <h2 class="form-signin-heading">HIMITSU</h2>
            <img src="">
            <!--<div class="input-wrapper">-->
            <div>
                <label for="inputEmail" class="sr-only">Email Address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="loginData.email" required="" autofocus="">
            </div>
            <!--<div class="input-wrapper">-->
            <div>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="loginData.password">
                <label for="inputPassword" class="sr-only">Password</label>
            </div>
            <div>
                <input type="checkbox" value="Stay Logged in" id="stayChecked">
                <label for="stayChecked" id="checkStay"><span>Stay Logged In?</span></label>
            </div>
            <div class="row">
                <button class="btn-login" type="button" ng-click="loginSubmit()">LOGIN</button>
                <a class="btn-signup" ng-click="signup()">SIGN UP</a>
                <a ui-sref = "user"><i class="fa fa-chevron-left"></i>Back to Sign Up</a>
            </div>
        </form>
    </div>

</body>