<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    .navbar-nav {
        font-size: 18px;
    }
    
    #secretInput {
        width: 100%;
        resize: inherit;
    }
    
    .fa-heart {
        color: #ff6666;
    }
    
    .fa-heart-o {
        color: #ff3333;
    }
    .fa-camera{
       color: white;
    }
    
    .secret-label,
    .secret-isAnonymous-label,
    .secret-isPublic-label {
        color: floralwhite;
    }
    
    .secret-form-submit {
        background-color: #FF8140;
        border: 1px solid #fbbd9e;
        border-radius: 3px;
        color: white;
        padding: 3px 20px;
    }
</style>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo  Himitsu</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a>Home</a></li>
                <li><a ng-click="ownSecret()">Secrets</a></li>
                <li><a ng-click="contact()">Contact</a></li>
                <li><a ng-click="about()">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.firstName}} {{user.lastName}}</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="guide">
    <div class="guide-section">
    </div>
</div>

<div class="container">

    <form>
        <label class="secret-label"> Secret: </label>
        <textarea class="form-control" id="secretInput" placeholder="input your secret" ng-model="secretOne.content" rows="3"></textarea>
        <div>
            <img id="avatarSetting" width="140" height="160" style="border-radius:5%" src="views/images/avatar-default.png" ng-show="false">
            <label class="fa fa-camera" aria-hidden="true">
                <input type="file" style="display:none" alt="image" id="secretImage" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>

        <div class="checkbox">
            <label class="secret-isPublic-label">
                <input type="checkbox" ng-model="secretOne.isPublic"> isPublic
            </label>
        </div>

        <div>
            <form class="form-inlne">

                <div class="form-group">
                    <div class="checkbox">
                        <label class="secret-isAnonymous-label">
                            <input type="checkbox" ng-model="secretOne.isAnonymous">isAnonymous
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <button type="button" class="secret-form-submit col-sm-offset-11 col-xs-offset-9" ng-click="createSecret()">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </form>

    <label class="secret-label">Secrets are :</label>

    <div>
        <div class="secret" ng-repeat="secret in secretData">
            <div class="secret-title">
                <img src="http://tva3.sinaimg.cn/crop.0.0.750.750.180/9f80aa3djw8f09ehiq5qdj20ku0kudgj.jpg">
                <div class="secret-user">
                    <p class="name">Mimi</p>
                    <p class="date">{{secret.createdAt | date}}</p>
                </div>
            </div>
            <div class="secret-content">
                <p>{{secret.content}}</p>
            </div>
            <div class="secret-footer">
                <div class="row">
                    <div class="col-sm-4  col-xs-12">
                        <div class="secret-action">
                            <a ng-click="secret.showCommentBox = !secret.showCommentBox"><i class="fa fa-comment" aria-hidden="false" ></i> Comment</a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="secret-action">
                            <a data-toggle="modal" data-target="#myFarward"><i class="fa fa-share" aria-hidden="true" ng-click="open()"></i> Forward</a>
                        </div>
                    </div>

                    <script type="text/ng-template" id="forwardBody.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Forward The Secret</h3>
                        </div>

                        <div class="modal-body">

                        </div>

                        <div class="modal-footer">
                            <button type="button" ng-click="cancel()">Cancel</button>
                            <button type="button" ng-click="forward()">Forward</button>

                        </div>
                    </script>

                    <div class="col-sm-4  col-xs-12">
                        <div class="secret-action">
                            <a><i class="fa fa-heart" aria-hidden="true"></i> Likes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-comment" ng-show="secret.showCommentBox">
                <div class="section-comment-post">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.750.750.180/9f80aa3djw8f09ehiq5qdj20ku0kudgj.jpg">
                    <textarea type="text"></textarea>
                    <div class="section-comment-submit">
                        <button type="button">Comment</button>
                    </div>

                </div>
                <div class="section-comment-item">
                    <img src="http://tva4.sinaimg.cn/crop.0.0.750.750.180/728e1a94jw8f4eo8n7k9tj20ku0kujs6.jpg">
                    <p>
                        <span>djsfklsj</span>: asdfghjkl
                    </p>
                </div>
            </div>

        </div>


    </div>
</div>

<script>
    $(document).ready(function () {
        $("#secretImage").change(function (e) {
            var file = e.originalEvent.srcElement.files[0];
            var img = document.createElement("img");
            var reader = new FileReader();
            //                reader.onloadend = function () {
            //                    img.src = reader.result;
            //                }
            reader.onload = function (e) {
                $("#avatarSetting").show().attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
            $("#personalImage").after(img);
        });



    })

</script>