<style>
    body {
        background-color: black;
    }
    
    .form-signin {
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
        text-align: center;
    }
    
    .form-signin,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    
    .form-signin-heading {
        margin-bottom: 30px;
        color: white;
        font-family: sans-serif;
    }
    
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        color: #fff;
        max-width: 400px;
        background-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #3e3e3e;
        border-left-width: 0px;
        border-left-style: none;
        border-right-width: 0px;
        border-right-style: none;
        border-top-width: 0px;
        border-top-style: none;
        font-family: sans-serif;
        box-sizing: border-box;
        cursor: auto;
        display: inline-block;
        height: 44px;
        overflow-x: visible;
        overflow-y: visible;
    }
    
    .form-control:focus {
        border-bottom-color: #fff;
        border-left-width: 0px;
        border-left-style: none;
        border-right-width: 0px;
        border-right-style: none;
        border-top-width: 0px;
        border-top-style: none;
        box-shadow: none;
    }
    
    .form-signin .form-control:focus {
        z-index: 2;
    }
    
    .form-signin input[type="email"] {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .btn-signup {
        width: auto;
        opacity: 100%;
        display: inline-block;
        padding: 10px 50px;
        margin: 0 10px;
        background: transparent;
        border: 1px solid #3e3e3e;
        color: #fff;
        text-transform: uppercase;
        outline: none;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        line-height: 22px;
        letter-spacing: .1em;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
    }
    
    .btn-signup:hover {
        border: 1px solid white;
        color: white;
        text-decoration: none;
    }
    
    .btn-login {
        display: inline-block;
        padding: 10px 50px;
        margin: 0 5px;
        background: #e4e4e4;
        border: 1px solid;
        color: #1c1c1c;
        text-transform: uppercase;
        outline: none;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        line-height: 22px;
        letter-spacing: .1em;
        text-align: center;
        border-radius: 4px;
        -webkit-font-smoothing: antialiased;
        border: 0px;
        margin-top: 20px;
    }
    
    .btn-login:hover {
        background: #D8D8D8;
    }
    
    #checkStay #checkStay[span] {
        display: block;
        text-indent: 1px;
        padding-left: 15px;
    }
    
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        overflow: hidden;
        top: -1px;
        position: relative;
        margin-left: -55%;
    }
    
    .passwordRecovery {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -11px;
        margin-right: 1px;
        font-size: 12px;
        color: #797979;
        font-family: sans-serif;
        word-spacing: normal;
    }
    
    .passwordRecovery:hover {
        color: #fff;
    }
    
    .input-wrapper {
        background: transparent;
        color: #a1a1a1;
        display: block;
        line-height: 22px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 25px;
        font-size: 12px;
        position: relative;
    }
    #checkStay:hover{
        color:#D8D8D8;
    }
</style>

    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">HIMITSU</h2>
            <div class="input-wrapper">
                
            </div>

            <button class="btn-login" type="button" ng-click="getSecretList()">Get Secret List</button>
            <div class="input-wrapper" ng-model="secretData" ng-repeat="secret in secretData">
               <div> Secret is {{secret}}; </div>
            </div>
            <div>
                
            </div>
            <div class="row">

            </div>
        </form>
    </div>
